.ControlPanel {
  font-size: .75rem;
  color: hsl(234, 11%, 52%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  transition: .3s;


  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ControlPanel.no-list {
  border-radius: 5px;
}

.control-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  color: hsl(234, 11%, 52%);
  padding: 0 5px;
  transition: .3s;
}

.control-btn.active {
  color: hsl(220, 98%, 61%);
}

/* no hover on mobile */
@media only screen and (min-width: 500px) {
  .control-btn:hover {
    color: hsl(235, 19%, 35%);
    cursor: pointer;
  }


  .ControlPanel.dark > .control-btn:hover {
    color: hsl(234, 39%, 85%);
    cursor: pointer;
  }

  .type-selector-container.dark > .control-btn:hover {
    color: hsl(234, 39%, 85%);
  }

  .control-btn.active:hover {
    cursor: default;
    color: hsl(220, 98%, 61%);
  }

  .type-selector-container.dark > .control-btn.active:hover {
    cursor: default;
    color: hsl(220, 98%, 61%);
  }
}


/* MOBILE */
@media only screen and (max-width: 600px) {
  .ControlPanel {
    position: relative;
  }

  .type-selector-container {
    position: absolute;
    top: 75px;
    width: 100%;
    margin-left: -20px;
    background-color: transparent;
    text-align: center;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  }

  .type-selector-container {
    transition: .1s;
  }

  .ControlPanel.dark > .type-selector-container {
    background-color: hsl(237, 14%, 26%);
    transition: .3s;
  }
}


/* DARK THEME */
.ControlPanel.dark {
  background-color: hsl(237, 14%, 26%);
  transition: .3s;
}

/* .ControlPanel.dark > .type-selector-container {
  transition: .3s;
} */
