.NewItem {
  display: flex;
  justify-content: space-around;

  background-color: white;
  padding: 20px;
  border-radius: 5px;

  margin-bottom: 1rem;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
}

.new-todo {
  width: 80%;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
}

.placeholder {
  width: 23.33px;
  height: 10px;
}


/* BUTTON */
.clear-input {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #fff;
    background-color: transparent;
    border: 1px solid hsl(234, 39%, 85%);
    outline: none;
    cursor: default;
}

.clear-input.active {
  border: 2px solid red;
  color: red;
  cursor: pointer;
}

.clear-input.active:hover {
  background-color: red;
  color: #fff;
  transition: background-color 0.5s;
  transition: color 0.3s;
}



/* DARK THEME STYLES */
.NewItem.dark {
  background-color: hsl(237, 14%, 26%);
}

.NewItem.dark > .new-todo {
  color: hsl(234, 39%, 85%);
}
