.TodoItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid hsl(236, 33%, 92%);
  word-wrap: break-word;
  transition: .3s;
}

.TodoItem:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content {
  font-size: 1rem;
  color: hsl(235, 19%, 35%);
  word-wrap: break-word;
  width: 80%;
  transition: .3s;
}

.content.complete {
  text-decoration: line-through;
  color: hsl(234, 39%, 85%);
  transition: .3s;
}


/* BUTTON */
.remove-item {
  opacity: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: hsl(234, 11%, 52%);
}

.TodoItem:hover .remove-item {
  opacity: 1;
  transition: opacity .5s;
}

/* always visible on mobile */
@media only screen and (max-width: 500px) {
  .remove-item {opacity: 1;}
}


/* BUTTON */
.cross-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #fff;
  border: 1px solid hsl(234, 39%, 85%);
  outline: none;
  cursor: pointer;
}

.cross-item.active {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  color: white;
  border: none;
}

/* hover for non-mobile only */
@media only screen and (min-width: 500px) {
  .cross-item:hover {border: 2px solid green;}
  .cross-item.active:hover {border: none;}
  .remove-item:hover{color: black;}
}


/* DARK THEME */
.TodoItem.dark {
  background-color: hsl(237, 14%, 26%);
  transition: .3s;
  border-bottom: 1px solid hsl(234, 39%, 85%);
}

.TodoItem.dark > .content {
  color: hsl(234, 39%, 85%);
  transition: .3s;
}

.TodoItem.dark > .content.complete {
  color: hsl(234, 11%, 52%);
  transition: .3s;
}
